@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-bronze{
    background-color: rgb(120, 89, 77);
    
}

.bg-bronze-2{
    background-color: rgba(206, 181, 145, 0.8);
    
}


/*colocar transparencia no background no hover*/

.text-lbronze{
    color: #CEB591;
}

.text-bronze{
    color: #78594D;
}
.bg-lbronze{
    background-color: rgb(206, 181, 145);
}
.border-bronze{
    border: 2px solid #CEB591;

}
.border-dbronze{
    border: 2px solid #78594D;
}
.border-t-bronze{
    border-top: 6px solid rgb(207, 181, 145);
}

.bg-image-1{
    background-image: url('/fundo02.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-2{
    background-image: url('/fundo01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-3{
    background-image: url('/fundo03.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-transparent{
    background-color: transparent;
}
.ml-lg{
    margin-left: 36%;
}
.n-mt{
    margin-top: -5%;
}
.w-100{
    width: 112%;
}
.bg-transparente{
    background-color: rgba(245, 243, 242, 0.6)
}

.n-mt-2{
    margin-top: -110%;
}

/* Estilização do botão */
.bg-lbronze {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Impede que ícones desbordem */
  }
  
  /* Esconde o texto e mostra a seta */
  .button-text, .button-icon {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .button-text {
    opacity: 1;
  }
  
  .button-icon {
    font-size: 1.5em; /* Ajuste o tamanho conforme necessário */
    opacity: 0;
    position: absolute;
    transform: translateX(-20px); /* Posição inicial da seta */
  }
  
  /* Animações no hover */
  .bg-lbronze:hover .button-text {
    opacity: 0;
    transform: translateX(20px); /* Mova o texto para fora */
  }
  
  .bg-lbronze:hover .button-icon {
    opacity: 1;
    transform: translateX(0px); /* Mova a seta para a posição central */
  }
  .-mb{
    margin-bottom: 16%;
  }
  .bg-image4{
    background-image: url('/fundomembros.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
  }
 

@media (max-width: 768px) {
    .resp-hid{
        display: none;
    }
    .w-f{
        width: 100%;
    }
    
    
}