@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-bronze{
    background-color: rgb(120, 89, 77);
    
}

.bg-bronze-2{
    background-color: rgba(206, 181, 145, 0.8);
    
}

.text-lbronze{
    color: #CEB591;
}

.text-bronze{
    color: #78594D;
}
.bg-lbronze{
    background-color: rgb(206, 181, 145);
}
.border-bronze{
    border: 2px solid #CEB591;

}
.border-dbronze{
    border: 2px solid #78594D;
}
.border-t-bronze{
    border-top: 6px solid rgb(207, 181, 145);
}

.bg-image-1{
    background-image: url('/fundo02.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-2{
    background-image: url('/fundo01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-3{
    background-image: url('/fundo03.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-transparent{
    background-color: transparent;
}
.ml-lg{
    margin-left: 38%;
}
.n-mt{
    margin-top: -5%;
}
.w-100{
    width: 112%;
}
.bg-transparente{
    background-color: rgba(245, 243, 242, 0.6)
}

.n-mt-2{
    margin-top: -110%;
}

/* Estilização do botão */
.bg-lbronze {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Impede que ícones desbordem */
  }
  
  /* Esconde o texto e mostra a seta */
  .button-text, .button-icon {
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .button-text {
    opacity: 1;
  }
  
  .button-icon {
    font-size: 1.5em; /* Ajuste o tamanho conforme necessário */
    opacity: 0;
    position: absolute;
    transform: translateX(-20px); /* Posição inicial da seta */
  }
  
  /* Animações no hover */
  .bg-lbronze:hover .button-text {
    opacity: 0;
    transform: translateX(20px); /* Mova o texto para fora */
  }
  
  .bg-lbronze:hover .button-icon {
    opacity: 1;
    transform: translateX(0px); /* Mova a seta para a posição central */
  }
  .-mb{
    margin-bottom: 16%;
  }
  .bg-image4{
    background-image: url('/fundomembros.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
  }
  .relative {
    position: relative;
    width: 100%; /* ou o tamanho que desejar */
}

.absolute {
    position: absolute;
}
.slick-prev,
.slick-next {
    display: none !important;
}

/* Estilização da barra de rolagem para Chrome, Edge e Safari */
::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem vertical */
    height: 12px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
    background: #020b3a; /* Cor de fundo da barra */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(207, 181, 145); /* Cor do controle de rolagem */
    border-radius: 20px; /* Raio da borda do controle de rolagem */
    border: 3px solid #05062b; /* Borda do controle de rolagem */
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(15, 23, 42); /* Cor do controle de rolagem ao passar o mouse */
}
.barra-progresso {
    transition: width 0.5s ease-out;
  }

  .filters-section {
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
    width: 100%; /* ou max-width se você quiser limitar a largura */
  box-sizing: border-box; /* para incluir padding e border na largura total */
  padding: 0 15px;
  }
  
  .filters-section.show {
    max-height: 180rem /* Ajuste para a altura máxima que seus filtros podem ocupar */
  }
  /* Se você tiver um botão ou outro elemento que controla a visibilidade dos filtros */
  .toggle-filters-button {
    margin-right: 15px; /* ajuste o espaço no lado direito */
  }
  .filters-section.hide {
    max-height: 0;
  }
@media (max-width: 768px) {
    .resp-hid{
        display: none;
    }
    .w-f{
        width: 100%;
    }
    
    
}