@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-bronze{
    background-color: #78594D;
    
}
/*colocar transparencia no background no hover*/

.text-lbronze{
    color: #CEB591;
}

.text-bronze{
    color: #78594D;
}
.bg-lbronze{
    background-color: #CEB591;
}
.border-bronze{
    border: 2px solid #CEB591;

}
.border-t-bronze{
    border-top: 6px solid #CEB591;
}

.bg-image-1{
    background-image: url('/fundo1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-image-2{
    background-image: url('/fundodetalhe2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-transparent{
    background-color: transparent;
}
.ml-lg{
    margin-left: 36%;
}
.n-mt{
    margin-top: -5%;
}
.w-100{
    width: 112%;
}


@media (max-width: 768px) {
    .resp-hid{
        display: none;
    }
    
}